.browser-home{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:420px;
}

.browser-home h1{
    color:#1d1d1d;
    font-size:36px;
    font-weight:600;
    margin-bottom:15px;
}

.browser-home p{
    color:#666;
    font-size:18px;
    margin-bottom:40px;
}

.start-btn{

    width:180px;
    height:50px;

    border:none;

    border-radius:6px;

    background:#0066ff;

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.25s;

    margin-top:25px;

}

.start-btn:hover{

    background:#0052cc;

}